body {
  margin: 0;
  padding: 0;
  
  font-family: sans-serif;
  height: 100vh;
}

.login-box {
  width: 850px;
  height: 550px;
  background: rgba(255, 255, 255, 0.945);
  color: rgb(0, 0, 0);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 15px;
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"] {
  border: none;
  border-bottom: 1px solid rgb(240, 24, 24);
  background: transparent;
  outline: none;
  font: bold;
  font-family: 'Times New Roman', Times, serif;
  height: 40px;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  width: 250px;
  height: 40px;
  background: rgba(226, 0, 0, 0.616);
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.login-box a {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: rgb(36, 1, 194);
}

.login-box a:hover {
  color:red;
}


.caja {
  margin:20px auto 40px auto;	
  border:1px solid #d9d9d9;
  height:30px;
  overflow: hidden;
  width: 252px;
  position:relative;
}
select {
  
  background: transparent;
  border: none;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  padding: 5px;
  width: 250px;
}


